[submodule "GASS-METAL"]
	path = data/GASS/GASS-METAL
	url = https://github.com/sandroizidoro/GASS-METAL
    branch = main
[submodule "tools/hyperTDA"]
	path = tools/hyperTDA
	url = https://github.com/degnbol/hyperTDA/
	branch = time
[submodule "tools/Eirene.jl"]
	path = tools/Eirene.jl
	url = https://github.com/degnbol/Eirene.jl
[submodule "tools/ripser"]
	path = tools/ripser
	url = https://github.com/Ripser/ripser
[submodule "tools/ripser-plusplus"]
	path = tools/ripser-plusplus
	url = https://github.com/simonzhang00/ripser-plusplus.git
